<label>Server name</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)"> &lt;!&ndash; Event binding &ndash;&gt;-->
<hr>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"> <!-- Two way binding -->
<!--<p>{{ serverName }}</p>-->
<button
  class="btn btn-primary"
  (click)="onCreateServer()"
  [disabled] = "!allowNewServer"> <!--We bind the properties of a class to a variable or a function in the Typescript
   code-->
  Add Server
</button>
<p>{{ allowNewServer }}</p> <!-- Showing using String binding -->
<!--p [innerText]="allowNewServer"></p--> <!-- Showing using property binding -->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated; else noServer">Server was created server name is {{serverName}}</p> <!-- * is needed becaus it is
structural, meaning it
changes the structure of our DOM. Either adds the element or doesnt add it-->
<!-- for ngIf it should be any directive that returns true or false -->
<ng-template #noServer> <!--# is used as local reference -->
  <p>No server was created!</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>
