<p
  [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'online'}">
  {{'Server'}} with ID is {{ serverId }} is {{ getServerStatus() }}
</p>
<!--Here we use attribute directives, meaning that these wont add or remove any elements, but only change the element-->
<!-- Also the [] is not part of the directive, it is only an attribute binder -->
<!-- ngStyle allows to dynamically update the styles -->
<!-- ngClass is another attribute directive that will allow us to dynamically add or remove css classes -->
<!-- for String interpolation, only the functions should be called that return strings-->
